.Navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    z-index:10;
    /* background:#d0e5f4; */
    /* background-image:linear-gradient(rgba(171,201,225,1), rgba(241,245,248,1))  ; */
    padding:1rem 1rem;
    background: rgb(27, 26, 26);
   box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
}


.Navbar a{
    color:black;
    text-decoration: none;
}

.Navbar h1{
    font-size:3rem;
    padding-left:2rem;
    color:whitesmoke;
}

.Navbar h1 span{
    color:#328fdb;

}

.Navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.Navigation i {
    font-size:2rem;
    padding-left:1rem;
    color:black;
}

.Navigation button{
    /* padding: .6rem 1rem;
    border-radius: 8px;
    background: whitesmoke;

    font-size: 1.5rem;
    color: #328fdb;
    letter-spacing: .1rem;
    text-align: center;
    width:8rem;
    border:none;
    font-weight: bold; */
    padding-right:2rem;
    border: none;
    background:rgb(27, 26, 26);;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


.Navigation button:hover{
color:#328fdb;
}


@media(max-width: 500px){
    .Navigation i {
        font-size:1.5rem;
        padding-right:.5rem;
    }

    .Navigation button{
        padding: .7rem;
        width:5rem;
        font-size:1rem;
    }

    .Navbar h1{
        font-size:2rem;
    }
}